@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    padding: 1px;
    color: #fff;
}

header h2 {
    font-size: 24px;
    margin-left: 5px;
}

.inicio {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    
    h1 {
    font-size: 70px;
    }

    p {
    font-size: 24px;
    margin: 0 15% 0 15%;
    }
}

.cuerpo{
    display: flex;
}

.principal {
    width: 64%;
    margin-right: 2%;
}

nav{
    border-bottom: 2px solid orange
}

nav li{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 15px 20px;
    text-align: left;
    padding: 20px;
    font-size: 1.5rem;
}

nav li:hover{
    color: white;
    background-color: orange;
}

a{
    color: black;
    text-decoration: none;
}

.texto{
    margin-left: 1%;
    font-size: 20px;
}

.lib img{
    padding: 3%;
    width: 23%;
}

.eb{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
}

.bloque{
    width: 33%;
    text-align: center;
    align-items: center;

    img{
        width: 75%;
    }
}

.ventas {
    width: 34%;
}

.vent-top{
    margin: 0 3% 2% 0;
}

.vent-top p {
    background-color: green;
    padding: 1.5%;
    color: white;
    margin-right: 20%;
}

@media screen and (max-width: 700px) {

    .inicio{
        margin: 0 1% 0 1%;
    }

    .cuerpo{
        width: 100%;
        display: block;
    }

    .principal{
        width: 100%;
        
    }

    nav{
        width: 100%;
    }

    li{
        width: 100%;
        align-items: center;
    }

    .bloque{
        width: 100%;
        margin: 2%;
    }

    .texto{
        margin: 0 2% 0 2%;
    }

    .ventas{
        width: 100%;
    }

}